*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    user-select: none;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 600;
}

body {
    background-color: #19191c;
    padding: 0 1%;
}

.header-success {
    height: 52%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.grade-success {
    margin-top: 1rem;
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.wrwap-404, .success {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success {
    line-height: 3rem;
    text-align: center;
}

.img {
    width: 260px;
    margin-bottom: 1rem;
}

.img img {
    width: 100%;
}

.wrwap-404 div {
    font-size: 1.3rem;
}

.wrwap-404 div a{
    color: #4897ff;
    font-size: 1rem;
    text-decoration: underline;
}

.img-success {
    width: 140px;
}

.btns-success {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.btn-success {
    width: 80px;
    display: flex;
    flex-direction: column;
}

.btn-success img {
    width: 100%;
}

button {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}


.popup {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    transition: .3s all;
    backdrop-filter: blur(4px);
    z-index: -100;
}

.popup-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 820px;
    background: #19191c;
    margin: 0 auto;
    margin-top: 10rem;
    padding: 1.4rem;
    border-radius: 12px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    height: 40vh;
    width: 98%;
}

.active {
    opacity: 1;
    z-index: 999;
}

.popup-yandex {
    margin-top: 2rem;
    width: 100%;
}

.popup-yandex img {
    border: 1px solid rgba(61, 61, 61, .4);
    border-radius: 12px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.42);
    padding: 12px;
    width: 50%;
    transition: .2s;
}

.popup-yandex img:hover {
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.32);
    transform: scale(1.01);
}

.popup-tg {
    display: inline-block;
    margin-top: 3rem;
    border: 1px solid rgba(61, 61, 61, .4);
    padding: 1%;
    border-radius: 12px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.42);
}

.popup-tg div {
    display: flex;
}

.popup-img {
    width: 66px;
    margin-right: 1rem;
}

.popup-img img {
    width: 100%;
    border-radius: 12px;
}

.popup-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align-last: left;
}
.popup-text p {
    font-size: 1.1rem;
}